version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "chore(deps):"
    groups:
      github-actions:
        patterns:
          - "*"

# Docker can't be updated until we modernize the profiler build process
#  - package-ecosystem: docker
#    directories: 
#      - "/src/Agent/NewRelic/Profiler/linux"
#      - "/build/**/"
#      - "/deploy/**/"
#    schedule:
#      interval: monthly
#    groups:
#      docker:
#        patterns:
#          - "*"
          
  # We do not scan anything in the /src/Agent/NewRelic/Agent/Extensions folder, as those projects
  # intentionally reference old versions of the Nuget packages they instrument.
  - package-ecosystem: nuget
    directories:
      - /src/Agent/NewRelic/Agent/Core
      - /src/Agent/NewRelic.Api.Agent
      - /build
      - /src/Agent/MsiInstaller
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps):"
    groups: 
      nuget-agent:
        patterns:
          - "*"
    ignore:
      - dependency-name: "WixToolset.*"
        versions: [ "6.*" ] # WIX 6.0+ requires payment for commerical projects, avoiding upgrade for now

  # Update a specific set of packages for unit and integration tests
  - package-ecosystem: nuget
    directories: # not recursive - only the specified directory will be scanned for .csproj or .sln files
      - /tests/Agent/IntegrationTests # will pick up container, integration and unbounded test solutions
      - / # will pick up FullAgent.sln which contains the unit tests
    schedule:
      interval: monthly
    commit-message:
      prefix: "chore(deps):"
    groups:
      nuget-tests:
        patterns:
          - "*"
    allow:
      - dependency-name: "coverlet.collector"
      - dependency-name: "JustMock"
      - dependency-name: "Microsoft.NET.Test.Sdk"
      - dependency-name: "Microsoft.VisualStudio.Azure.Containers.Tools.Targets"
      - dependency-name: "Microsoft.VisualStudio.Threading.Analyzers"
      - dependency-name: "NUnit*"
      - dependency-name: "Selenium*"
      - dependency-name: "xunit*"
      - dependency-name: "PublicApiGenerator"
      - dependency-name: "Verify.NUnit"
