<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="NewRelic-MyGet.org" value="https://www.myget.org/F/newrelic/api/v3/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="NewRelic-MyGet.org">
      <package pattern="NewRelic.Agent.Internal.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
