services:
    deploy_packages: 
        build: .
    # This was necessary to be able to debug using strace
    #    security_opt:
    #        - seccomp:unconfined
        command: bash -c "/data/deploy.bash"
        working_dir: /data
        env_file:
            - docker.env
        