<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
    </RunConfiguration>
    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="html" enabled="True">
                <Configuration>
                    <LogFilePrefix>testResults</LogFilePrefix>
                </Configuration>
            </Logger>
        </Loggers>
    </LoggerRunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <!-- See https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings
                     and https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage -->
                    <Exclude>[NewRelic.OpenTracing.AmazonLambda*]*</Exclude>
                    <ExcludeByFile>**/tests/**/*, **/NativeMethods.cs, **/NewRelic.Api.Agent/*, **/AgentManager.cs, **/Agent/Extensions/Providers/**/*</ExcludeByFile>
                    <ExcludeByAttribute>NrExcludeFromCodeCoverage,Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
