<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="CouchbaseNetClient" version="2.3.8" targetFramework="net452" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="NewRelic.Testing.Assertions" version="1.0.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NServiceBus" version="5.0.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.5.2" targetFramework="net452" />
  <package id="xunit" version="2.0.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net452" />
  <package id="xunit.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.msbuild" version="2.0.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net452" />
</packages>