<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="openrasta-codecs-webforms" version="2.5.5" targetFramework="net40" />
  <package id="openrasta-core" version="2.5.63" targetFramework="net40" />
  <package id="openrasta-di-castle-windsor" version="2.5.16" targetFramework="net40" />
  <package id="openrasta-hosting-aspnet" version="2.5.25" targetFramework="net40" />
  <package id="openrasta-razor" version="2.5.16" targetFramework="net40" />
</packages>