<#@ template language="C#" #>
<#
    var dateTimeUtcNow = System.DateTime.UtcNow;
#>
// Copyright 2020 New Relic, Inc. All rights reserved.
// SPDX-License-Identifier: Apache-2.0

namespace NewRelic.Agent.Core
{
    public static partial class AgentInstallConfiguration
    {
        // Sent on connect as agent_version_timestamp
        // Current value <# WriteLine(dateTimeUtcNow.ToString("MM/dd/yyyy HH:mm:ss.fff")); #>
        public static System.DateTime AgentVersionTimestamp { get; } = new System.DateTime(<# Write(dateTimeUtcNow.Ticks.ToString()); #>L, System.DateTimeKind.Utc);
    }
}
