<?xml version="1.0"?>
<!-- Copyright (c) 2008-2014 New Relic, Inc.  All rights reserved. -->
<!-- For more information see: https://newrelic.com/docs/dotnet/dotnet-agent-configuration -->
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
	<service licenseKey="b25fd3ca20fe323a9a7c4a092e48d62dc64cc61d" ssl="true" completeTransactionsOnThread="true" />
	<application>
		<name>Sacksman Application</name>
	</application>
	<log level="all"/>
	<instrumentation>
		<attributes>
			<traceAttribute className="kestrel_test.Trace" />
		</attributes>
	</instrumentation>
	<transactionTracer enabled="true"
		transactionThreshold="0.02"
		stackTraceThreshold="500"
		recordSql="obfuscated"
		explainEnabled="true"
		explainThreshold="500"/>
	<crossApplicationTracer enabled="true"/>
	<errorCollector enabled="true">
		<ignoreErrors>
			<exception>System.IO.FileNotFoundException</exception>
			<exception>System.Threading.ThreadAbortException</exception>
		</ignoreErrors>
		<ignoreStatusCodes>
			<code>401</code>
			<code>404</code>
		</ignoreStatusCodes>
	</errorCollector>
	<browserMonitoring autoInstrument="true" />
	<threadProfiling>
		<ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
		<ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
	</threadProfiling>
</configuration>
