body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

tr:hover {
    background-color: #D6EEEE;
}

td, th {
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 5px;
}

#version-header {
    width:50px;
}

#pass {
    background-color: green;
}

#fail {
    background-color: red;
}
