<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- For testing purposes, we want to pull in just the Sitecore logging package -->
    <add key="Sitecore-MyGet.org" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="Sitecore-MyGet.org">
      <package pattern="Sitecore.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
