<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- For testing purposes, we want to pull in just the Sitecore logging package -->
    <add key="Sitecore-NuGet" value="https://nuget.sitecore.com/resources/v3/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="Sitecore-NuGet">
      <package pattern="Sitecore.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
