<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>
  <Logging Threshold="Error" />
  <TransportConfig MaxRetries="0" />
  <SecondLevelRetriesConfig Enabled="false"
                          TimeIncrease="00:00:10"
                          NumberOfRetries="0" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="nservicebusreceiverhost.error" />
  <UnicastBusConfig>
    <MessageEndpointMappings />
  </UnicastBusConfig>
  <AuditConfig QueueName="audit" />
  <appSettings>
    <add key="NewRelic.AppName" value="NServiceBusReceiverHost" />
    <add key="NewRelic.AgentEnabled" value="true" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>