<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Environment" value="Remote"/>
        <add key="RemoteServers" value="172.31.252.34"/>
        <add key="AgentVersion" value="5.0.0.0"/>
        <add key="LicenseKey" value="a64aa06cb41e1fccc542bbf46ea2dd042c502765"/>
    </appSettings>
</configuration>
