<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Environment" value="Remote"/>
        <add key="RemoteServers" value="172.31.252.34"/>
        <add key="AgentVersion" value="5.0.0.0"/>
        <add key="LicenseKey" value="REPLACE_WITH_LICENSE_KEY"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
