<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="NewRelic.Agent.Api" version="3.6.177.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net451" />
</packages>