version: '3.4'

services:

    build:
        build: linux/.
        command: bash -c "dos2unix ./build_profiler.sh && chmod 777 build_profiler.sh && ./build_profiler.sh"
        volumes: 
            - .:/profiler
        working_dir: /profiler/linux/

    build_debug:
        build:
            context: linux/.
            dockerfile: DebugDockerfile
        command: bash -c "dos2unix ./build_profiler.sh && chmod 777 build_profiler.sh && ./build_profiler.sh"
        privileged: true
        volumes: 
            - .:/profiler
            - $CORECLR_NEWRELIC_HOME:/agent
        working_dir: /profiler/linux/
    build_arm64:
        platform: linux/arm64/v8
        build:
            context: linux/.
            dockerfile: Arm64Dockerfile
        command: bash -c "dos2unix ./build_profiler.sh && chmod 777 build_profiler.sh && ./build_profiler.sh"
        volumes:
            - .:/profiler
        working_dir: /profiler/linux
