name: Auto Assign to Project

on:
  issues:
    types: [opened]
    
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: read

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Assign NEW issues and NEW pull requests to Dotnet Engineering Board

        uses: srggrs/assign-one-project-github-action@65a8ddab497df42ef268001e67bbf976f8fd39e1 # 1.3.1
        if: github.event.action == 'opened'
        with:
          project: 'https://github.com/orgs/newrelic/projects/20'
          column_name: 'Triage'
