name: Build the Build Tools solution

on:
  pull_request:
    branches:
      - main
    paths:
      - 'build/**'
      - '.github/workflows/scripts/**'

  workflow_dispatch:

permissions:
  contents: read

jobs:
    build:
        runs-on: windows-latest
    
        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        - name: Setup .NET 10 Preview
          uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
          with:
            dotnet-version: '10.0.x'
            dotnet-quality: 'ga'

        - name: Build the solution
          run:  dotnet build build/BuildTools.sln -c Release -m -p:Platform="Any CPU" --restore
