name: Build the Build Tools solution

on:
  pull_request:
    branches:
      - main
    paths:
      - 'build/**'
      - '.github/workflows/scripts/**'

  workflow_dispatch:

permissions:
  contents: read

jobs:
    build:
        runs-on: windows-latest
    
        steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        - name: Setup .NET 10 Preview
          uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
          with:
            dotnet-version: '10.0.x'
            dotnet-quality: 'ga'

        - name: Build the solution
          run:  dotnet build build/BuildTools.sln -c Release -m -p:Platform="Any CPU" --restore
