name: Check for Modified Source Files

on: 
    workflow_call:
        outputs:
            non-workflow-files-changed:
                value: ${{ jobs.check-modified-files.outputs.non-workflow-files-changed }}
  
permissions:
    contents: read

jobs: 
    check-modified-files:
        name: Check if source files were modified, skip remaining jobs if not
        runs-on: ubuntu-latest
        permissions:
          pull-requests: read
        # don't run this job if triggered by Dependabot, will cause all other jobs to be skipped as well
        # don't run if triggered by a release or manual execution, as we're going to do the full build in those cases anyway
        if: github.actor != 'dependabot[bot]' || !(github.event.release || github.event_name == 'workflow_dispatch')
        outputs:
          non-workflow-files-changed: ${{ steps.filter.outputs.non-workflow-files-changed }}
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
            with:
              disable-sudo: true
              egress-policy: audit
          - name: Checkout
            uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
            with:
              fetch-depth: 0
          - name: Verify which files were modified
            uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
            id: filter
            with:
              base: ${{ github.ref }}
              filters: |
                non-workflow-files-changed:
                  - '!.github/**'
              list-files: 'csv'
    
