name: Check for Modified Source Files

on: 
    workflow_call:
        outputs:
            source-files-changed:
                value: ${{ jobs.check-modified-files.outputs.source-files-changed }}
  
permissions:
    contents: read

jobs: 
    check-modified-files:
        name: Check if source files were modified, skip remaining jobs if not
        runs-on: ubuntu-latest
        permissions:
          pull-requests: read
        # don't run this job if triggered by Dependabot, will cause all other jobs to be skipped as well
        # don't run if triggered by a release or manual execution, as we're going to do the full build in those cases anyway
        if: github.actor != 'dependabot[bot]' || !(github.event.release || github.event_name == 'workflow_dispatch')
        outputs:
          source-files-changed: ${{ steps.filter.outputs.source-files-changed }}
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
            with:
              disable-sudo: true
              egress-policy: audit
          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            with:
              fetch-depth: 0
          - name: Verify which files were modified
            uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
            id: filter
            with:
              base: ${{ github.ref }}
              # Look for source files that were modified, excluding workflow files and unbounded services
              predicate-quantifier: 'every'             
              filters: |
                source-files-changed:
                  - '**'
                  - '!.github/**'
                  - '!tests/Agent/IntegrationTests/UnboundedServices/**'
              list-files: 'csv'

