name: Get Release Checksums

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID of the Release Workflow (all_solutions.yml) that was triggered by creating a Release in GitHub.  ID can be found in URL for run.'
        required: true

env:
  DOTNET_NOLOGO: true

permissions:
  contents: read

jobs:

  get-release-checksums:
    permissions:
      actions: read  # for dawidd6/action-download-artifact to query and download artifacts
      pull-requests: read  # for dawidd6/action-download-artifact to query commit hash
    name: Get Deploy Artifacts and output release checksum information
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604 # v2.5.0
        with:
          egress-policy: audit 

      - name: Download Deploy Artifacts
        uses: dawidd6/action-download-artifact@246dbf436b23d7c49e21a7ab8204ca9ecd1fe615 # v2.27.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: all_solutions.yml
          run_id: ${{ github.event.inputs.run_id }}
          name: deploy-artifacts
          path: ${{ github.workspace }}
          repo: ${{ github.repository }}

      - name: Check if file exists
        id: check_files
        uses: andstor/file-existence-action@20b4d2e596410855db8f9ca21e96fbe18e12930b # v2.0.0
        with:
          files: "${{ github.workspace }}/build/BuildArtifacts/DownloadSite/SHA256/checksums.md"
          ignore_case: false
          fail: true

      - name: Get Release Checksums
        run: |        
          checksum_file_path="${{ github.workspace }}/build/BuildArtifacts/DownloadSite/SHA256/checksums.md"
          checksum_file_contents=$(cat $checksum_file_path)
          echo "${checksum_file_contents}"
          echo "${checksum_file_contents}" >> $GITHUB_STEP_SUMMARY
        shell: bash
