name: Linux Container Integration Tests

on:
  workflow_call:
    inputs:
      external_call:
        type: boolean
        default: true
        required: false
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID of the build workflow (all_solutions.yml) to use the agent from. ID can be found in URL for run.'
        required: true

env:
  DOTNET_NOLOGO: true
  NR_DEV_BUILD_HOME: false
  # Static list of all Distro trait values present in Container Integration Tests
  CONTAINER_TEST_DISTROS: Debian,Ubuntu,Alpine,Centos,Amazon,Fedora


# only allow one instance of this workflow to be running per PR or branch, cancels any that are already running
concurrency:
  group: linux-container-tests-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

  linux-container-tests:
    name: Container Test (${{ matrix.distro }}/${{ matrix.arch }})
    # Runner chosen per matrix entry
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # amd64 distros (all test types)
          - arch: amd64
            distro: Debian
            runner: ubuntu-latest
          - arch: amd64
            distro: Ubuntu
            runner: ubuntu-latest
          - arch: amd64
            distro: Alpine
            runner: ubuntu-latest
          - arch: amd64
            distro: Centos
            runner: ubuntu-latest
          - arch: amd64
            distro: Amazon
            runner: ubuntu-latest
          - arch: amd64
            distro: Fedora
            runner: ubuntu-latest
          # arm64 distros (subset of tests implemented)
          - arch: arm64
            distro: Debian
            runner: ubuntu-24.04-arm
          - arch: arm64
            distro: Ubuntu
            runner: ubuntu-24.04-arm
          - arch: arm64
            distro: Amazon
            runner: ubuntu-24.04-arm
          - arch: arm64
            distro: Fedora
            runner: ubuntu-24.04-arm

    env:
      test_results_path: tests\TestResults
      integration_tests_shared_project: ${{ github.workspace }}/tests/Agent/IntegrationTests/Shared
      NR_DOTNET_TEST_SAVE_WORKING_DIRECTORY: 1
      # Make this variable true to enable extra data-gathering and logging to help troubleshoot test failures, at the cost of additional time and resources
      enhanced_logging: false

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Download Agent Home Folders (Call)
        if: ${{ inputs.external_call }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: homefolders
          path: src/Agent

      - name: Download Agent Home Folders (Dispatch)
        if: ${{ !inputs.external_call }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.run_id }}
          name: homefolders
          path: ${{ github.workspace }}/src/Agent
          repository: ${{ github.repository }}

      - name: Set up secrets
        env:
          INTEGRATION_TEST_SECRETS: ${{ secrets.TEST_SECRETS }}
        run: |
          echo $INTEGRATION_TEST_SECRETS | dotnet user-secrets set --project ${{ env.integration_tests_shared_project }}

      - name: Install .NET 10 Preview
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'ga'
    
      - name: Build & Run Linux Container Integration Tests
        env:
          BUILD_ARCH: ${{ matrix.arch }}
        run: >-
          dotnet test ./tests/Agent/IntegrationTests/ContainerIntegrationTests/ContainerIntegrationTests.csproj
          --framework net10.0
          --filter "Architecture=${{ matrix.arch }}&Distro=${{ matrix.distro }}"
          --logger "console;verbosity=detailed"
          --logger "trx;verbosity=detailed"
          --results-directory ${{ env.test_results_path }}

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ContainerTestResults-${{ matrix.arch }}-${{ matrix.distro }}
          path: ${{ env.test_results_path }}
