name: Publish .NET Agent Release Notes

on:
  workflow_dispatch:
    inputs:
      agent_version:
        description: 'Agent version that was released.  Needs to match the version from the Deploy Agent workflow (deploy_agent.yml). Format: X.X.X'
        required: true
        type: string
      run_id:
        description: 'Run ID of the Release Workflow (all_solutions.yml) that was triggered by creating a Release in GitHub.  ID can be found in URL for run.'
        required: true
        type: string
  workflow_call:
    inputs:
      agent_version:
        description: 'Agent Version to deploy.  Needs to match the version from the Release Workflow (all_solutions.yml). Format: X.X.X'
        required: true
        type: string
      run_id:
        description: 'Run ID of the Release Workflow (all_solutions.yml) that was triggered by creating a Release in GitHub.  ID can be found in URL for run.'
        required: true
        type: string

permissions:
  contents: read
  packages: read
  
env:
  DOTNET_NOLOGO: true

jobs:
  publish-release-notes:
    name: Create and Publish Release Notes
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      
      - name: Download Deploy Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.run_id }}
          name: deploy-artifacts
          path: ${{ github.workspace }}/deploy-artifacts
          repository: ${{ github.repository }}

      - name: Set Docs PR Branch Name
        run: |
          cleaned_branch=$(echo "${{ inputs.agent_version }}" | sed 's/\./-/g')
          echo "branch_name=dotnet-release-$cleaned_branch"
          echo "branch_name=dotnet-release-$cleaned_branch" >> $GITHUB_ENV
        shell: bash

      - name: Build Release Notes
        run: |
          dotnet publish --configuration Release --output "$PUBLISH_PATH" "$BUILD_PATH"
          notes_file=$("$PUBLISH_PATH/ReleaseNotesBuilder" -p "$PUBLISH_PATH/data.yml" -c "$CHANGELOG" -x "$CHECKSUMS" -o "$OUTPUT_PATH")
          echo "$notes_file"
          echo "notes_file=$notes_file" >> $GITHUB_ENV
        shell: bash
        env:
          BUILD_PATH: ${{ github.workspace }}/build/ReleaseNotesBuilder/ReleaseNotesBuilder.csproj
          PUBLISH_PATH: ${{ github.workspace }}/build/ReleaseNotesBuilder/publish
          CHANGELOG: ${{ github.workspace }}/src/Agent/CHANGELOG.md
          CHECKSUMS: ${{ github.workspace }}/deploy-artifacts/DownloadSite/SHA256/checksums.md
          OUTPUT_PATH: ${{ github.workspace }}

      - name: Create branch
        uses: dmnemec/copy_file_to_another_repo_action@c93037aa10fa8893de271f19978c980d0c1a9b37 # tag v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.DOTNET_AGENT_GH_TOKEN }}
        with:
          source_file: "${{ env.notes_file }}"
          destination_repo: 'newrelic/docs-website'
          destination_folder: 'src/content/docs/release-notes/agent-release-notes/net-release-notes'
          user_email: '${{ secrets.BOT_EMAIL }}'
          user_name: 'dotnet-agent-team-bot'
          destination_branch: 'develop'
          destination_branch_create: ${{env.branch_name}}
          commit_message: 'chore(.net agent): Add .NET Agent release notes for v${{ inputs.agent_version }}.'

      - name: Create pull request
        run: gh pr create --base "develop" --repo "$REPO" --head "$HEAD" --title "$TITLE" --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.DOTNET_AGENT_GH_TOKEN }}
          REPO: https://github.com/newrelic/docs-website/
          HEAD: ${{env.branch_name}}
          TITLE: ".NET Agent Release Notes for v${{ inputs.agent_version }}"
          BODY: "This is an automated PR generated when the .NET agent is released. Please merge as soon as possible."
