name: Set Community Label

on:
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  set-community-label:
    name: Set Community Label
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Check if organization member
        id: is_organization_member
        if: github.event.action == 'opened'
        uses: jamessingleton/is-organization-member@311430b0670cdec4036e721029b78018236a0b74 # 1.1.0
        with:
          organization: newrelic
          username: ${{ github.event.issue.user.login }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Community Label If Needed
        if: ${{steps.is_organization_member.outputs.result == 'false'}}
        uses: andymckay/labeler@3a4296e9dcdf9576b0456050db78cfd34853f260 # master
        with:
          add-labels: "community"
            
