name: Set Community Label

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  set-community-label:
    name: Set Community Label
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f # v2.3.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Check if organization member
        id: is_organization_member
        if: github.event.action == 'opened'
        uses: jamessingleton/is-organization-member@fb5924a6287762ee5fc71bf9e95a60842af5528d # 1.0.1
        with:
          organization: newrelic
          username: ${{ github.event.issue.user.login }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Community Label If Needed
        if: ${{steps.is_organization_member.outputs.result == 'false'}}
        uses: andymckay/labeler@3a4296e9dcdf9576b0456050db78cfd34853f260 # master
        with:
          add-labels: "community"
