name: "Close stale Issues"
on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
      with:
        disable-sudo: true
        egress-policy: audit

    - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
      with:
        stale-issue-message: 'This Issue has been marked stale after 90 days with no activity. It will be closed in 30 days if there is no activity.'
        days-before-stale: 90
        days-before-close: 30
        days-before-pr-stale: -1 # disable pr checking
        days-before-pr-close: -1 # disable pr checking
        stale-issue-label: 'stale'
        exempt-issue-labels: 'good first issue,help wanted,in progress,on hold,in review,roadmap'
